{{#if (or actions.length isGM)}}
<div id="seventh-sea-extended-action-hud" class="ss-ea-hud">

  {{#each actions as |action|}}
    <div class="ea-tracker {{#if action.complete}}is-complete{{/if}}" data-id="{{action.id}}">

    <div class="ea-label">
      Extended Action{{#if action.label}}: {{action.label}}{{/if}}
    </div>
    <div class="ea-bar-track">
      <div class="ea-bar-fill" style="width: {{action.pct}}%;"></div>
      <span class="ea-bar-text">{{action.current}} / {{action.target}}</span>
    </div>
    {{#if action.complete}}<span class="ea-complete-flag">Goal reached!</span>{{/if}}

    {{#if ../isGM}}
    <div class="ea-controls">
      <button class="ea-btn" data-action="ea-decrease" title="Remove 1 progress">−</button>
      <button class="ea-btn" data-action="ea-increase" title="Add 1 progress">+</button>
      <button class="ea-edit" data-action="ea-edit" title="Edit label/goal">✎</button>
      <button class="ea-edit" data-action="ea-clear" title="Clear tracker">✕</button>
    </div>
    {{/if}}
  </div>
  {{/each}}

  {{#if isGM}}
    <button class="ea-new" data-action="ea-new">+ New Extended Action</button>
  {{/if}}

</div>
{{/if}}
